*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .4s;

}

:root{
    --black:hsl(0, 0%, 96%);
    --white: black;
    --grey-num: white;
    --grey-symbol:hsla(0, 0%, 50%, 0.178);

}


.dark-theme{
    --black:black;
    --white:  rgba(255, 255, 255, 0.678);
    --grey-num: hsl(0, 0%, 19%);
    --grey-symbol:hsla(0, 0%, 40%, 0.959);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,rgb(79,51,176,1),rgb(210,53,165)); 
}

.calculator{
    border: 1px solid;
    padding: 12px;
    border-radius: 16px;
    /* background-color: hsl(0, 0%, 96%); */
    /* background-color: black; */
    background-color: var(--black);
    box-shadow: 1px 1px 8px  ;
    
}

.calculator img{
    width: 30px;
    /* float: right; */
}

input{
    width: 270px;
    height: 80px;
    font-size: 48px;
    margin: 15px 6px;
    border: none;
    background: transparent;
    text-align: right;
    /* pointer-events: none; */
    color:var(--white);
    outline: none;
    
}



button{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: none;
    margin: 6px;
    font-size: 26px;
    box-shadow:1px 1px 4px black ;
    cursor: pointer;
    transition: all 200ms ease;
    /* color: white; */
    
}

button:hover{
transform: scale(.9);
}


.num{
    /* background-color: white; */
    /* background-color: hsl(0, 0%, 19%); */
    background-color: var(--grey-num);
    color: var(--white);
}

.symbol{
    /* background-color: hsla(0, 0%, 50%, 0.178); */
    /* background-color: hsla(0, 0%, 40%, 0.959); */
    background-color: var(--grey-symbol);
}

.equal{
    background-color: rgb(255 124 0 / 97%);
    color: white;
    box-shadow: 1px 1px 4px rgb(255 124 0 / 97%);       
}